* @kinde-oss/giants-kinde
build.gradle @kinde-oss/sdk-engineers
**/build.gradle @kinde-oss/sdk-engineers
build.gradle @kinde-oss/sdk-engineers
**/build.gradle @kinde-oss/sdk-engineers
package.json @kinde-oss/sdk-engineers
**/package.json @kinde-oss/sdk-engineers
